# Laboratorio 2 - Clustering

### 1. Importación de librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

### 2. Carga de los datos

In [2]:
# Se cargan los datos. 
df_tracks=pd.read_csv('202210_Laboratorio2_data_202210_Lab2_BancAlpes_CC_data.csv', sep=',', encoding = 'utf-8', index_col=0)

### 3. Perfilamiento y entendimiento de los datos

In [3]:
df_tracks.shape

(5530, 14)

In [4]:
df_tracks.head()

,GENDER,BALANCE,PURCHASES,BALANCE_FREQUENCY,CASH_ADVANCE,CASH_ADVANCE_TRX,PURCHASES_FREQUENCY,PURCHASES_TRX,ONEOFF_PURCHASES_FREQUENCY,CASH_ADVANCE_FREQUENCY,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,TENURE
CUST_ID,,,,,,,,,,,,,,
C12529,F,107.944741,118.16,0.875,472.818286,1.0,0.125000,2,0.125,0.125000,2500.0,192.781455,56.999671,8
C14138,NaN,241.032979,0.00,1.000,642.862505,1.0,0.000000,0,NaN,0.083333,1500.0,915.454305,195.162256,12
C15409,NaN,894.357857,1164.00,1.000,0.0,0.0,1.000000,12,NaN,0.000000,2000.0,907.603723,270.413449,-12
C18141,F,-188.132508,515.88,1.000,0.0,NaN,0.833333,14,NaN,0.000000,2700.0,601.729266,194.534934,12
C15879,NaN,3881.679582,15.92,1.000,2183.782456,9.0,0.083333,1,NaN,0.333333,5500.0,1032.183632,1129.747227,12

In [5]:
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5530 entries, C12529 to C12391
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   GENDER                      2816 non-null   object
 1   BALANCE                     5530 non-null   float64
 2   PURCHASES                   5530 non-null   float64
 3   BALANCE_FREQUENCY           5530 non-null   float64
 4   CASH_ADVANCE                5530 non-null   object
 5   CASH_ADVANCE_TRX            5380 non-null   float64
 6   PURCHASES_FREQUENCY         5530 non-null   float64
 7   PURCHASES_TRX               5530 non-null   object
 8   ONEOFF_PURCHASES_FREQUENCY  2790 non-null   float64
 9   CASH_ADVANCE_FREQUENCY      5364 non-null   float64
 10  CREDIT_LIMIT                5530 non-null   float64
 11  PAYMENTS                    5530 non-null   float64
 12  MINIMUM_PAYMENTS            5530 non-null   object
 13  TENURE                      5367 non-null   object
dtypes: float64(9), object(5)
memory usage: 648.0+ KB

In [6]:
# Resumen de los estadisticos de las variables numéricas
df_tracks.describe()

,BALANCE,PURCHASES,BALANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,CASH_ADVANCE_FREQUENCY,CREDIT_LIMIT,PAYMENTS
count,5530.000000,5530.000000,5530.000000,5380.000000,5530.000000,2790.000000,5364.000000,5530.000000,5530.000000
mean,1041.700463,534.577103,26.482552,49.115428,12.206006,0.148298,0.119005,3588.095256,1107.989817
std,1353.093044,773.488745,152.899316,573.817771,93.757671,0.241687,0.173206,2640.396238,1270.892564
min,-4587.892398,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.056466
25%,74.060304,0.000000,0.833333,0.000000,0.000000,0.000000,0.000000,1500.000000,345.431102
50%,632.743634,269.130000,1.000000,0.000000,0.363636,0.000000,0.000000,2900.000000,671.001700
75%,1545.808455,723.700000,1.000000,3.000000,0.833333,0.166667,0.166667,5000.000000,1354.931507
max,7390.198560,9661.370000,1000.000000,18000.000000,1000.000000,1.000000,1.500000,12500.000000,9933.622610

In [7]:
#Visualización de todas las variables numéricas
fig=plt.figure(figsize=(20,8))
ax = sns.boxplot(data=df_tracks, orient="v")

In [10]:
#Separación de la variable duración (int) de variables float para ver mejor su contenido dada la diferencia de magnitudes en el dominio
name_cols_float = df_tracks.select_dtypes(include = ['float']).columns
name_cols_int = df_tracks.select_dtypes(include = ['int64']).columns
name_cols_int
#name_cols_float

Index([], dtype='object')

In [12]:
#Visualización de todas las variables numéricas
fig=plt.figure(figsize=(20,8))
ax = sns.boxplot(data=df_tracks[name_cols_float], orient="v")

### 4. Limpieza y preparación de los datos

In [14]:
# Ver si hay grupos naturales en los datos
sns.pairplot(df_tracks.dropna(), height=3,vars=['BALANCE','PURCHASES'],kind='scatter')

### 4.1. Construcción del modelo con K-means

### 4.2. Construcción del modelo con ...

### 4.3. Construcción del modelo con ...